/* .body-container {
    height: 100vh;
    width: 100vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.pagetitle {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1;
    animation: bounce 1s infinite;
    /* animation: fan 0.2s infinite; */
}

.text-container {
    max-width: 32rem;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(-25%);
        animationTimingFunction: cubic-bezier(0.8, 0, 1, 1);
    }

    50% {
        transform: translateY(0);
        animationTimingFunction: cubic-bezier(0, 0, 0.2, 1);
    }
}

@keyframes fan {
    0% {
      transform: translateX(-100%) rotate(-360deg);
    }
    100% {
      transform: translateX(-100%) rotate(360deg);
    }
  }

.container-addRegion {
    /* align-items: center; */
    /* justify-content: center; */
    /* text-align: center; */
}

.btn-addRegion {
    font-style: italic;
    text-decoration: underline;
}

/* REGION DATA TABLE */

.table-container {
    display: flex;
    flex-direction: column;
}

.table-overflow-container {
    overflow-x: auto;
}

.table-overflow {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: inline-block;
    min-width: 100%;
}

.data-table {
    width: 20rem;
    align-content: center;
    min-width: 100%;
    
}

.btn-container {
    text-decoration: underline;
    text-align: center;
    color: #FCD34D;
    font-weight: 500;   
}

/* ===================================== */